<h3> All Ideas </h3>

<% @ideas.each do |idea| %>
<ul> Name: <%= idea.title %><br/>
     Idea: <%=  idea.idea %><br/>
     Category: <%= idea.category.name %>

<%= link_to "Delete", user_idea_path(@user, idea), method: "delete" %>
<% end %>
